




* {
    box-sizing: border-box;
}

.header {
    background: #E5E5E5;
    padding: 17px 0 30px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.navigation ul {
    text-align: center;
}

.navigation li {
    display: inline-block;
}