




* {
    box-sizing: border-box;
}

nav{
    background: #E5E5E5;
    padding: 17px 0 16px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.menu {
    text-align: center;
}

.menu_item{
    display: inline-block;
}

li:not(:last-child) {
    margin-right: 30px;
}

.menu_link{
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
}

.subheader {
    padding: 20px 0;
}

.subheader_info {
    display: inline-block;
}